.App {
  text-align: center;
}
.main-container {
  color: #2A3166;
  border: 1px solid#9b9291;
}
.navbar{
  background-color: aquamarine;
  min-height: 50px;
}
.splitbottom {
  display: flex;
  width: 100%;
  justify-content: center;
}
.flex-item {
  flex: 1 1 50%;
}

